@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap");

:root {
  --pri1: #66e2dc;
  --pri2: #fa7453;
  --sec1: #ffb964;
  --wht: #fcfaf9;
  --blk: #191826;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

img {
  max-width: 100%;
}
